body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

label {
  display: block;
}

nav a {
  display: block;
  text-align: center;
  padding: 0.5em;
  margin: 10px auto 5px;
  width: 10%;
  background: radial-gradient(#e492fd 30%, #fad6ff);
  border-radius: 30px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#start-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 60px;
  border-radius: 30px;
  background: radial-gradient(#e492fd 30%, #fad6ff);
  border-style: solid;
  border-color: black;
  border-width: 3px;
  position: relative;
  top: 150px;
  font-weight: bold;
  font-size: xx-large;
}

#home-page {
  padding-top: 50px;
  background-image: linear-gradient(to bottom right, #30f2a8, #faf9e1);
  height: 100vh;
}

#language-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 35px;
  border-radius: 30px;
  border: none;
  position: relative;
  top: 75px;
  font-weight: bold;
  font-size: large;
  text-indent: 10px;
}

#input-label {
  display: block;
  text-align: center;
  position: relative;
  top: 75px;
}

#character-selector {
  position: relative;
  top: 100px;
  text-align: center;
}

#char-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#char-images img {
  margin: 15px;
  border-radius: 15px;
}

.true-selected {
  box-shadow: 10px 10px 5px pink;
}

#navbar {
  background: radial-gradient(ellipse at top, #faf9e1, #00d885);
  border: solid;
  border-width: 0 3px 3px 3px;
  border-color: black;
  border-radius: 0 0 50px 50px;
  position: fixed;
  width: 80%;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 5px 5px grey;
}
#gameboard {
  padding-top: 100px;
}
